@{
    ViewBag.Title = "Sobre Nós";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O objetivo deste projeto é a criação de uma plataforma digital que sirva de intercâmbio de manuais,</p>
<p> entre os seus utilizadores. De uma maneira simples e objetiva a plataforma deverá disponibilizar </p>
<p>uma lista de manuais por escola, aonde deve ser possível verificar se algum utilizador tem os manuais</p>
<p> necessários disponíveis para poderem ser reutilizados. Mas inicialmente na plataforma deverá ser possível</p>
<p> cada utilizador introduzir o seu portfólio de manuais escolares, para estes poderem ser pesquisados. </P>
<p>De uma maneira mais explanada os objetivos são os seguintes:</p>
<ul>
    <li>Cadastrar utilizadores</li>
    <li>Utilizadores poderem introduzir o seu portfólio de manuais escolares;</li>
    <li>Pesquisa de manuais por:</li>
    <li>Escola / Ano escolar</li>
    <li>Zona Geográfica</li>
    <li>Disciplina</li>
    <li>ISBN</li>
    <li>Titulo</li>
    <li>Mensagem inter-utilizadores para troca de informações sobre manuais</li>
</ul>
