@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. do Ferrol, 175 - 1ºEsq.<br />
    4480-663 Vila do Conde<br />
    Portugal<br />
    <abbr title="Tlmvl">P:</abbr>
    +351 969256067
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:supporte@trocamanuais.com">supporte@trocamanuais.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@trocamanuais.com">marketing@trocamanuais.com</a>
</address>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.pt/maps?f=q&amp;source=s_q&amp;hl=pt-PT&amp;geocode=&amp;q=Av.+do+Ferrol+175,+Vila+do+Conde&amp;aq=0&amp;oq=av.do+ferrol,+175&amp;sll=39.639538,-7.849731&amp;sspn=9.893426,21.643066&amp;ie=UTF8&amp;hq=&amp;hnear=Avenida+do+Ferrol+175,+Vila+do+Conde&amp;ll=41.349564,-8.74976&amp;spn=0.009423,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://www.google.pt/maps?f=q&amp;source=embed&amp;hl=pt-PT&amp;geocode=&amp;q=Av.+do+Ferrol+175,+Vila+do+Conde&amp;aq=0&amp;oq=av.do+ferrol,+175&amp;sll=39.639538,-7.849731&amp;sspn=9.893426,21.643066&amp;ie=UTF8&amp;hq=&amp;hnear=Avenida+do+Ferrol+175,+Vila+do+Conde&amp;ll=41.349564,-8.74976&amp;spn=0.009423,0.021136&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Ver mapa maior</a></small>